# デフォルトで全て無視
*

# 管理対象のホワイトリスト
!.gitignore
!aerospace/
!aerospace/**
!borders/
!borders/**
!nvim/
!nvim/**
!sketchybar/
!sketchybar/**
!bordersrc

# nvim 内の不要ファイルを除外
nvim/init.lua~
nvim/init.lu[v-z]~
nvim/init.vim.backup
nvim/pack/
